$white: #ffffff;
$black: #212121;
$gray: #424242;
$main-color: #CF9455;

$mobile-smaller: "(max-width: 420px)";
$mobile-sm: "(max-width: 565px)";
$mobile: "(max-width: 768px)";
$tablet: "(max-width: 991px)";
$laptop: "(max-width: 1024px)";
$laptopM: "(max-width: 1201px)";
$laptopL: "(max-width: 1440px)";