.header {
  width: 100%;
  height: 100vh;
  background: url("../img/intro.jpg") center no-repeat;
  background-size: cover;
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

.header__inner {
  display: flex;
  flex-direction: column;
}

.header__top {
  margin-top: 15px;
  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 583px) {
    margin-bottom: 15px;
  }


  @media #{$mobile-smaller} {
    margin-top: 5px;
  }
}

.header-fax {
  display: flex;

  &__email {
    font-size: 16px;
    color: #FAFAFA;
    margin-right: 80px;

    &:after {
      margin-left: 40px;

      content: "";
      width: 1px;
      height: 48px;
      background-color: $white;
      opacity: 50%;

      position: absolute;
      top: 0;
      z-index: 1;
    }
  }

  &__number {
    font-size: 16px;
    color: #FAFAFA;
  }

  & span {
    font-weight: 500;
  }
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  position: relative;

  &:before {
    content: "";
    display: flex;
    width: 100%;
    height: 1px;
    background-color: $white;
    opacity: 20%;

    position: absolute;
    top: -27px;
    z-index: 1

  }
  @media #{$mobile} {
    &:before {
      display: none;
    }
  }
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.call-us {
  margin-left: 50px;

  display: flex;
  align-items: center;

  @media (max-width: 1170px) {
    margin-left: 20px;
  }

  @media #{$mobile-smaller} {
    display: none;
  }
}



.call-us__content {
  margin-left: 15px;

  display: flex;
  flex-direction: column;
}

.call-us__number {

  font-size: 24px;
  font-weight: 700;
  color: $white;
}

.call-us__text {
  font-size: 12px;
  color: $white;
  opacity: 80%;
}

.slider {
  display: inline-block;
  padding: 10px;
  background-color: $white;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  text-decoration: none;
  position: absolute;

  &:hover {
    .slider__text {
      display: inline;
    }
  }

  &--prev {
    top: 50%;
    left: 20px;
    z-index: 1;
  }

  &--next {
    top: 50%;
    right: 20px;
    z-index: 1;
  }

  @media (max-width: 1530px) {
    display: none;
  }
}

.slider__inner {
  display: flex;
  align-items: center;
}

.slider__img {

  &--left {
    transform: rotate(180deg);
  }

}

.slider__text {
  display: none;

  font-size: 16px;
  font-weight: 700;
  color: $main-color;

  &--right {
    margin-right: 10px;
  }

  &--left {
    margin-left: 10px;
  }
}
